@source "./src/**/*.{js,jsx,ts,tsx}";
@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
}

.movie_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  gap: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .movie_grid {
    grid-template-columns: repeat(auto-fill, minmax(100px,150px)) !important; 

    gap: 1rem   !important;
  }
}
@media screen and (max-width: 420px) {
  .movie_grid {
   justify-content: space-around;

  
  }
}

