@source "./src/**/*.{js,jsx,ts,tsx}";
@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
}

.movie_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  row-gap: 1.5rem;
  justify-content: space-between;
}




.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@keyframes fadeIn {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@media screen and (max-width: 640px) {
  .movie_grid {
    grid-template-columns: repeat(auto-fill, minmax(100px,150px)) !important; 

    gap: 1rem   !important;
  }
}
@media screen and (max-width: 420px) {
  .movie_grid {
   justify-content: space-around;
  }
}

